html,body {
    margin: 0;
}

body {
    display: flex;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    margin: 10px;
}

.menu {
    padding: 200px 40px 0px;
    font-size: 20px;
    background-color: rgb(250, 250, 245);
}

.content {
    min-height: 280px;
    padding: 20px;
    font-size: 24px;
    justify-content: center;
    font-weight: lighter;
    color: rgb(2, 2, 59);
    align-items: center;
}

.footer {
    min-height: 150px;
    color: rgb(2, 2, 59);
}

.header {
    height: 150px;
    background-size: 450px auto;
    background-position: center;  
}